# /etc/systemd/system/neteye-oec@.service
[Unit]
Description=Opsgenie Edge Connector (OEC) for NetEye - Instance %i
Wants=network-online.target
After=network.target network-online.target

# Ensures all instances of this service start and die with icinga2-master
PartOf=icinga2-master.service
Before=icinga2-master.service

[Service]
Group=opsgenie
User=opsgenie
Type=simple
ExecStart=/usr/local/bin/OpsgenieEdgeConnector

Environment="OEC_CONF_SOURCE_TYPE=local"
Environment="OEC_CONF_LOCAL_FILEPATH=/neteye/local/oec/conf/%i.json"
EnvironmentFile=-/neteye/local/oec/conf/sysconfig/%i

Restart=on-failure
RestartSec=1m

[Install]
WantedBy=multi-user.target
